/* @import url('https://fonts.googleapis.com/css2?family=Borel&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  --main-color: rgb(98, 113, 247);
  --back-color: rgb(236, 233, 233);
}

html {
  font-family: "Helvetica";
}

body {
  margin: 0;
}

.top {
  background-color: var(--main-color);
  width: 100vw;
  height: 30vh;
}

#name {
  font-family: "Josefin Sans", monospace;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 2px;
  padding-left: 5vw;
  padding-top: 12.9vh;
  color: var(--back-color);
}

.bottom {
  height: 70vh;
  background-color: var(--back-color);
}

.roles {
  float: left;
  width: 85vh;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
}

.roles li {
  width: 200px;
}

.roles ul {
  list-style-type: "- ";
}

.desc {
  float: right;
  font-family: "Roboto Mono", monospace;
  font-size: 14.5px;
  padding-bottom: 25px;
  padding-top: 10px;
  padding-left: 20px;
  overflow-wrap: break-word;
}

.links {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 5px;
  padding-bottom: 5px;
}
