/* @import url('https://fonts.googleapis.com/css2?family=Borel&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

@media (prefers-color-scheme: light) {
  :root {
    /* --main-color: rgb(98, 113, 247); */
    --main-color: #fbf1c7;
    /* --back-color: rgb(236, 233, 233); */
    --back-color: #665c54;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --main-color: rgb(98, 113, 247); */
    --main-color: #ebdbb2;
    /* --back-color: rgb(236, 233, 233); */
    --back-color: #282828;
  }
}

html {
  font-family: "Helvetica";
}

body {
  margin: 0;
}

.top {
  background-color: var(--main-color);
  /* width: 100vw; */
  height: 30vh;
}

#name {
  font-family: "Josefin Sans", monospace;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 2px;
  padding-left: 5vw;
  padding-top: 12.9vh;
  color: var(--back-color);
}

.bottom {
  height: 90vh;
  background-color: var(--back-color);
}

.roles {
  float: left;
  width: 85vh;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  color: var(--main-color);
}

.roles li {
  width: 200px;
  font-style: italic;
}

.roles ul {
  list-style-type: "- ";
}

.desc {
  float: right;
  color: var(--main-color);
  font-family: "Roboto Mono", monospace;
  font-size: 14.5px;
  padding-bottom: 25px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-wrap: break-word;
}

.menubar {
  color: var(--main-color);
  position: absolute;
  font-size: 14px;
  padding-left: 40vw;
  font-family: "Roboto Mono", monospace;
}

.menubar a + a {
  padding: 50px;
}

a:any-link {
  color: var(--main-color);
}

/* a:visited {
  color: #fabd2f;
} */

#thanks {
  position: absolute;
  bottom: -20vh;
  right: 2vw;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  color: var(--main-color);
}

#thanks img {
  bottom: 40px;
}


/*
  for projects.html
*/


.projects {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  flex-direction: row;
}

@media screen and (min-width: 900px) {
  .projects {
    flex-direction: column;
  }
}

#project {
  background-color: var(--main-color);
  border-radius: 5px;

  width: 350px;
}

.projects h2 {
  margin-left: 20px;
}

.projects img {
  margin-left: 30px;
  width: 25vh;
}

.projects p {
  margin-left: 20px;
}
/* 

*/


/*
Global
*/

