html {
  font-family: 'Atkinson Hyperlegible';
  font-size: 10px;
  color: rgb(80, 98, 255);
  background-color: rgb(218, 218, 218);
}
#projects {
  font-family: 'Noto Sans';
  font-size: 17.5px;
  right: -150px-auto;
}

#about {
  font-family: 'Noto Sans';
  font-size: 10px;
}

#info {
  text-align: center;
  width: 130px;
  font-family: 'Atkinson Hyperlegible';
  font-size: 15px;
  border-radius: 10px;
  position: relative;
}




#tweet {
  width: 64px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
  
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
  
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
  
a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}


